$BrandFont: #f3605b;
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    background: #111212;
    cursor: default;
}
::selection {
    background: #ffa3a0;
    color: #fff; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ffa3a0;
    color: #fff; /* Gecko Browsers */
  }
p{
  font-size: 16px;
}


#tsparticles__{
    height: 100vh;
    position: absolute;
    left:0;right:0;
    z-index: -2;
  #tsparticles{
    height: 100%;
  }
}

.about_me{
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60vw;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 90%;
    @media screen and (max-width: 961px){
        padding: 40px 20px 85px;
        top: initial;
        transform: initial;
        left: initial;right: initial;
        max-height: initial;
        width: 90vw;
    }
    h1{
        color: $BrandFont;
        line-height: 1;
        font-size: 64px;
        font-weight: 700;
        margin: 0 0 45px 0;
        text-align: left;
        font-family: 'Nunito';
        @media screen and (max-width: 767px){
            font-size: 42px;
        }
    }
    p{
        color: #fff;
        font-size: 16px;
        line-height: 1.7;
        margin: 0 0 30px 0;
        font-family: 'Nunito';
    }
    &--resume{
        margin: 0 0 30px;
        a{
            font-size: 13px;
            color: #ffffff;
            border: 2px solid #f3605b;
            border-bottom-right-radius: 6px;
            display: inline-block;
            padding: 10px 25px;
            text-decoration: none;
            transition: all 0.3s ease;
            font-weight: 600;
            @media screen and (max-width: 767px){
                background: #f3605b;
            }
            &:hover{
                background: #f3605b;
                transition: all 0.3s ease;
            }
        }
    }
    &--skillset{
        display: flex;
        @media screen and (max-width: 960px){
            display: block;
        }
        h6{
            border: 1px solid #f9f9f9;
            display: inline-block;
            color: #ffffff;
            padding: 6px 15px;
            letter-spacing: 1.3px;
            margin: 0 15px 10px 0;
            cursor: default;
            font-size: 14px;
            border-bottom-right-radius: 6px;
            transition: all 0.3s ease;
            font-weight: 500;
            &.in-progress{
                border: 1px solid #ffcc00;
                &:hover{
                    .tooltiptext{
                        visibility: visible;
                    }
                }
            }
            .tooltiptext{
                visibility: hidden;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 10px;
                position: absolute;
            }
        }
        .skill-box{
            @media screen and (max-width: 960px){
                margin: 0 0 30px 0;
            }
            
        }
    }
}

.my-work{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    @media screen and (max-width: 960px){
        height: auto;
        display: block;
        width: 100%;
    }
    .gridbox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 620px){
            display: block;
        }
        &__item{
            padding: 0 5px;
            flex-basis: 25%;
            margin: 0 0 10px 0;
            position: relative;
            @media screen and (max-width: 960px){
                flex-basis: 50%;
            }
            @media screen and (max-width: 620px){
                flex-basis: 100%;
                padding: 0 10px;
                &:first-child{
                    margin-top: 10px;
                }
            }
            img{
                max-width: 100%;
                min-width: 100%;
            }
        }
    }
}

.home_page{
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40vw;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 90%;
    @media screen and (max-width: 961px){
        padding: 40px 20px 85px;
        top: initial;
        transform: initial;
        left: initial;right: initial;
        max-height: initial;
        width: 90vw;
    }
    h1{
        color: white;
        line-height: 1;
        font-size: 64px;
        font-weight: 400;
        margin: 0 0 25px 0;
        text-align: left;
        font-family: 'Nunito';
        span{
            color: $BrandFont;
            font-weight: 600;
        }
        @media screen and (max-width: 767px){
            font-size: 42px;
        }
    }
    p{
        span{
            color: #8d8d8d;
            letter-spacing: 2px;
        }
        a{
            color: $BrandFont;
            text-decoration: underline;
        }
        color: #ffffff;
        font-size: 18px;
        line-height: 1.7;
        margin: 0 0 30px 0;
        font-family: 'Nunito';
    }
      
}




/* Common style */
figure {
	position: relative;
	float: left;
	overflow: hidden;
	min-width: 100%;
	max-width: 480px;
	width: 48%;
	text-align: center;
    cursor: pointer;
    margin: 0;
    font-family: 'Nunito';
    @media screen and (max-width: 991px){
        margin: 10px 0 0 0;
    }
    h2:before{
        opacity: 0;
    }
}

figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}

figure figcaption {
	padding: 2em;
    color: #fff;
    font-size: 16px;
	// font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h2 {
word-spacing: -0.15em;
font-weight: 300;
}

figure h2 span {
	font-weight: 800;
}

 figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */


/*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla {
	// background: #18a367;
}


figure.effect-layla figcaption {
	padding: 0;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 25%;
	-webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    opacity: 0;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after
 {
	-webkit-transition: opacity 0.15s, -webkit-transform 0.35s;
	transition: opacity 0.15s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.2;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

