$BrandFont: #f3605b;
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    background: #111212;
    cursor: default;
}
::selection {
    background: #ffa3a0;
    color: #fff; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ffa3a0;
    color: #fff; /* Gecko Browsers */
  }
p{
  font-size: 16px;
}


#tsparticles__{
    height: 100vh;
    position: absolute;
    left:0;right:0;
  #tsparticles{
    height: 100%;
  }
}

.about_me{
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 55%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 90%;
    @media screen and (max-width: 767px){
        padding: 40px 20px;
        top: initial;
        transform: initial;
        width: 100%;
        left: initial;right: initial;
        max-height: initial;
    }
    h1{
        color: $BrandFont;
        line-height: 1;
        font-size: 64px;
        font-weight: 700;
        margin: 0 0 45px 0;
        text-align: left;
        font-family: 'Nunito';
        @media screen and (max-width: 767px){
            font-size: 42px;
        }
    }
    p{
        color: #fff;
        font-size: 16px;
        line-height: 1.7;
        margin: 0 0 30px 0;
        font-family: 'Nunito';
    }
    &--resume{
        margin: 0 0 30px;
        a{
            font-size: 13px;
            color: #ffffff;
            border: 2px solid #f3605b;
            border-bottom-right-radius: 6px;
            display: inline-block;
            padding: 10px 25px;
            text-decoration: none;
            transition: all 0.3s ease;
            font-weight: 600;
            @media screen and (max-width: 767px){
                background: #f3605b;
            }
            &:hover{
                background: #f3605b;
                transition: all 0.3s ease;
            }
        }
    }
    &--skill-box{
        @media screen and (max-width: 960px){
            margin: 0 0 50px 0;
        }
        h6{
            border: 1px solid #f9f9f9;
            display: inline-block;
            color: #ffffff;
            padding: 6px 15px;
            letter-spacing: 1.3px;
            margin: 0 15px 10px 0;
            cursor: default;
            font-size: 14px;
            border-bottom-right-radius: 6px;
            transition: all 0.3s ease;
            font-weight: 500;
            &:hover{
                background: #f3605b;
                transition: all 0.3s ease;text-shadow: 1px 2px 4px rgba(150, 150, 150, 1);
            }
        }
    }
}