$BrandFont: #f3605b;
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    background: #111212;
    cursor: default;
}
::selection {
    background: #ffa3a0;
    color: #fff; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ffa3a0;
    color: #fff; /* Gecko Browsers */
  }
p{
  font-size: 16px;
}


#tsparticles__{
    height: 100vh;
    position: absolute;
    left:0;right:0;
    z-index: -2;
  #tsparticles{
    height: 100%;
  }
}

.about_me{
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60vw;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 90%;
    @media screen and (max-width: 961px){
        padding: 40px 20px 85px;
        top: initial;
        transform: initial;
        left: initial;right: initial;
        max-height: initial;
        width: 90vw;
    }
    h1{
        color: $BrandFont;
        line-height: 1;
        font-size: 64px;
        font-weight: 700;
        margin: 0 0 45px 0;
        text-align: left;
        font-family: 'Nunito';
        @media screen and (max-width: 767px){
            font-size: 42px;
        }
    }
    p{
        color: #fff;
        font-size: 16px;
        line-height: 1.7;
        margin: 0 0 30px 0;
        font-family: 'Nunito';
    }
    &--resume{
        margin: 0 0 30px;
        a{
            font-size: 13px;
            color: #ffffff;
            border: 2px solid #f3605b;
            border-bottom-right-radius: 6px;
            display: inline-block;
            padding: 10px 25px;
            text-decoration: none;
            transition: all 0.3s ease;
            font-weight: 600;
            @media screen and (max-width: 767px){
                background: #f3605b;
            }
            &:hover{
                background: #f3605b;
                transition: all 0.3s ease;
            }
        }
    }
    &--skillset{
        display: flex;
        @media screen and (max-width: 960px){
            display: block;
        }
        h6{
            border: 1px solid #f9f9f9;
            display: inline-block;
            color: #ffffff;
            padding: 6px 15px;
            letter-spacing: 1.3px;
            margin: 0 15px 10px 0;
            cursor: default;
            font-size: 14px;
            border-bottom-right-radius: 6px;
            transition: all 0.3s ease;
            font-weight: 500;
            &.in-progress{
                border: 1px solid #ffcc00;
                &:hover{
                    .tooltiptext{
                        visibility: visible;
                    }
                }
            }
            .tooltiptext{
                visibility: hidden;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 10px;
                position: absolute;
            }
        }
        .skill-box{
            @media screen and (max-width: 960px){
                margin: 0 0 30px 0;
            }
            
        }
    }
}

.my-work{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    @media screen and (max-width: 960px){
        height: auto;
        display: block;
        width: 100%;
    }
    .gridbox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 620px){
            display: block;
        }
        &__item{
            padding: 0 5px;
            flex-basis: 25%;
            margin: 0 0 10px 0;
            @media screen and (max-width: 960px){
                flex-basis: 50%;
            }
            @media screen and (max-width: 620px){
                flex-basis: 100%;
                padding: 0 10px;
                &:first-child{
                    margin-top: 10px;
                }
            }
            img{
                max-width: 100%;
                min-width: 100%;
            }
        }
    }
}

.home_page{
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60vw;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 90%;
    @media screen and (max-width: 961px){
        padding: 40px 20px 85px;
        top: initial;
        transform: initial;
        left: initial;right: initial;
        max-height: initial;
        width: 90vw;
    }
    h1{
        color: white;
        line-height: 1;
        font-size: 64px;
        font-weight: 400;
        margin: 0 0 25px 0;
        text-align: left;
        font-family: 'Nunito';
        span{
            color: $BrandFont;
            font-weight: 600;
        }
        @media screen and (max-width: 767px){
            font-size: 42px;
        }
    }
    p{
        span{
            color: #8d8d8d;
            letter-spacing: 2px;
        }
        a{
            color: $BrandFont;
            text-decoration: underline;
        }
        color: #ffffff;
        font-size: 18px;
        line-height: 1.7;
        margin: 0 0 30px 0;
        font-family: 'Nunito';
    }
      
}